<%- include('nav.ejs') %>
<%- include('carousel') %>
<main>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% petdata.forEach((all)=>{%>
          <div class="col">
            <div class="card shadow-sm">
              <!-- <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../../uploads/alone.jpg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"/> -->
              <img src="http://localhost:3000/uploads/<%= all.ImageName %>" />
              <div class="card-body" style="display: flex; flex-direction: row; justify-content: space-around;">
                <p class="card-text">
                  <%= all.petinfo %>
                </p>
                <% if(user) { %> 
                  <%if(user.role == "admin"){%>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                        <button
                          type="button"
                          class="btn btn-sm btn-outline-secondary"
                        >
                          Accept
                        </button>
                        <button
                          type="button"
                          class="btn btn-sm btn-outline-secondary" 
                        >
                        Delete
                        </button>
                      </div>
                    </div>
                  <%}%>
                <% }else { %>
                  <a href="/login" class="btn btn-sm btn-outline-secondary">
                    Please login
                  </a>
                  <%}%>
              </div>
            </div>
          </div>
        <%})%>
      </div>
    </div>
  </div>
</main>
<%- include('footer')%>